@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;;900&display=swap');



:root {
    --font-family: 'Roboto', sans-serif;
    --primary-color: #00A699;
    --black: #000;
    --text-color: #333;
    
    /* Default layout */
    --font-family: 'Roboto';
    --default-layout-header-height: 80px;
    --default-layout-footer-height: 50px;
<<<<<<< HEAD
    --default-layout-width: 1365px;
    --default-horizontal-spacer: 30px;


    /* Variable */

    --button-border-radius: 20px;
=======
    --default-layout-width: 1360px;
>>>>>>> 31394c55e938d4ef56676320213eca249c025ecf
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 62.5%; */
    font-size: 55.5555%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
}

/* Scrollbar css */
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}