.province, .money, .area{
    height: 50px;
}
.province{
    border-radius: 50px 0px 0px 50px;
}
.fail{
    background-color: #E89494 !important;
}
 
select{
    border: none;
    padding-left: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 190px;
    font-size: 1.5rem;
    font-family: var(--font-Josefin);
    color: rgba(0, 0, 0, 0.9);
    line-height: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
select>option{ 
    height:20px;
  }
select:focus{
    outline: none
}
select::-ms-expand{
    display: none;
}
option p {
    font-size: 3rem;
}

.containerSearchIc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    background-color: white;
    border-radius: 0 50px 50px 0px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.containerSearchIc:hover{
    background-color: rgba(213, 213, 213, 0);
    cursor: pointer;
}

.innerSearchIc{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 60px;
}

