.container{
    width: 100%;
    height: 50px;
    left: 0px;
    bottom:0;
}

.wrapper{
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-footer-height);
    background: #FBFBFB;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    z-index: 10;
}
.inner{
    height: 100%;
    width: 1560px;
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.action{
    display: flex;
    align-items: center; 
    width: 555px;
    justify-content: space-between;
}
.licenseContent,
.socialItem{
    text-decoration: none;
    color: #2C2C2B;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.socials{
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}
.show-item{
    
}