.userReviews{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
}
.text1
{   text-decoration: none;
    color: black;
    font-size: 50px;
}
.header {
    font-size: 3.2rem;
    color: #6B7280;
}
.heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.inner {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--default-layout-width);
}