.container{
    width: 100%;
    height: 80px;
    margin-bottom: var(--default-horizontal-spacer);
}
.wrapper{ 
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: #FBFBFB;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    z-index: 10;
}

.inner{
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 700;
    font-size: 32px;
    cursor: pointer;
    color: #00A699;
    text-decoration: none;
}

.bklogo{
    font-weight: 900;
    font-size: 32px;
    cursor: pointer;
    color: #1488DB;
    text-decoration: none;
}

.action {
    display: flex;
}


.uploadBtn{
    box-sizing: border-box;
    padding: 9px 26px;
    background: #00A699;
    border-radius: var(--button-border-radius);
    text-decoration: none;

    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 32px;
}

.loginBtn{
    box-sizing: border-box;
    padding: 10px 30px;
    background: #00A699;
    border-radius: var(--button-border-radius);
    text-decoration: none;

    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 32px;
}

.modalUpload{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 24;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.modalUploadContent{
    font-family: var(--font-Josefin);
}

.modalUploadContent{
    margin: 30px 0px 5px 0px;
}
